*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.xdv
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
docs/figures/conceptual_figure_pmovestir.pdf
docs/prob_movestir_theory.pdf
docs/prob_movestir_theory.out
*.DS_Store
*.Rhistory
.Rproj.user
*.qgz
outputs
deer_runthru_mqw.Rmd